# maven ignore
/target
*.jar
*.war
*.zip
*.tar
*.tar.gz
*.class
# test output ignore
/test-output
/surefire-reports

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~
*.gz
eif-omc-web/temp/

# system ignore
.DS_Store
Thumbs.db

/eifConfMgr
/ecfConfMgr
*/disconf

*.pmd
reports
