<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG 项目报告">
	<!--  test verbose="2" preserve-order="true" name="InterfaceTest">
		<classes>
			<class name="com.hjs.Interface.test" />
		</classes>
	</test>-->
	<test verbose="2" preserve-order="true" name="AppTest">
  	<classes> 
      	<class name="com.hjs.cases.TradeTestCase">
	       <!--<methods>
	        <include name="testlogin" />
	       </methods>-->
    	</class>
  	</classes>
  </test>
<listeners>

<listener class-name="org.uncommons.reportng.HTMLReporter" />

<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />

</listeners>
</suite> <!-- Suite -->